<h1>Edit User</h1>


<%form_tag user_path do%>
First Name: <%=text_field_tag :'user[first_name]' %><br>
Last Name: <%=text_field_tag :'user[last_name]'%><br>
Email: <%=text_field_tag :'user[email]'%><br>

<%=submit_tag "Update User"%>
<%end %>